<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Aditya Group</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Destinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Your content goes here -->
    <div class="container">
        <!-- <h1 class="text-center">Welcome to My Travel Website</h1>
    <p class="text-center">Explore the world with us!</p> -->
    </div>

    <div class="card-container">
        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/adventurer.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Discover New places</h5>
                <p class="card-text card-text-custom">Distinctive trips to intriguing locales across India.</p>
            </div>
        </div>

        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/burger.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Try local specialties</h5>
                <p class="card-text card-text-custom">Create Experiences of a Lifetime and make unforgettable memories.</p>
            </div>
        </div>

        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/discount.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Enjoy at great price</h5>
                <p class="card-text card-text-custom">Special discounts to ensure you get more benefits at reduced price</p>
            </div>
        </div>

        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/wine-glasses.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Relax and have fun</h5>
                <p class="card-text card-text-custom">Our features and benefits are curated to suit the needs of every tourist.</p>
            </div>
        </div>
    </div>

    <div class="container py-4 about-us">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-us-img">
                    <img src="/static/images/kerala.jpg" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-us-info">
                    <h3 class="about-us-info-heading">We are Aditya Group.</h4>
                    <h2 class="about-us-info-sub-heading">Choose Your Perfect Holiday With Us</h2>
                    <div class="about-us-info-sub-heading-underline"></div>
                    <p class="about-us-info-text">Aditya Group is a destination management company located in Pune, Maharashtra. The company is being backed by a team of diligent professionals who carry a huge liking for travelling and have comprehensive experience working in tourism sector.
                    &nbsp; <br> <br>
                    We organize inbound tours and also offer tours by theme. Our main areas of operations are Leh Ladakh (J&K), Himachal Pradesh, Agra (U.P.), Rajasthan, Amritsar (Chandigarh), Delhi etc. We provide many travel services such as airline ticketing, hotel booking, car & coach rentals etc.</p>
                    <a href="about.html" class="btn btn-lg btn-custom">About us</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center footer">
        <p>&copy; 2024 Aditya Group. All Rights Reserved.</p>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>