<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Aditya Group</title>
    <!-- add a favicon-->
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/static//images/logo.png" alt="Logo">
            </a>

            <!-- Mobile Menu Toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="packagesDropdown" role="button" data-bs-toggle="dropdown">Packages</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Package 1</a></li>
                            <li><a class="dropdown-item" href="#">Package 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Fleet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Hotels</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Mission</a></li>
                            <li><a class="dropdown-item" href="#">Team</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>

                <!-- Call Now Button -->
                <a href="tel:+919034015553" class="btn call-now-btn">
                    <i class="bi bi-telephone-fill"></i> Call Now <br> +91-9034015553
                </a>
            </div>
        </div>
    </nav>

    <!-- Your content goes here -->
    <div class="slideshow-container">
        <div class="slideshow-image image1"></div>
        <div class="slideshow-image image2"></div>
        <div class="slideshow-image image3"></div>
        <div class="slideshow-image image4"></div>
        <div class="details-main">
            <h3 class="contaner-main-heading">Welcome To Aditya Group</h3>
            <div class="underline-container"></div>
            <h1 class="text-center contaner-main-sub-heading">We are professional planners for  <br>your vacations.</h1>
            <div class="btn-container">
                <a href="about.html" class="btn btn-lg btn-custom ">Explore Our Packages</a>
                <a href="about.html" class="btn btn-lg btn-custom ">About us</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/adventurer.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Discover New places</h5>
                <p class="card-text card-text-custom">Distinctive trips to intriguing locales across India.</p>
            </div>
        </div>

        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/burger.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Try local specialties</h5>
                <p class="card-text card-text-custom">Create Experiences of a Lifetime and make unforgettable memories.
                </p>
            </div>
        </div>

        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/discount.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Enjoy at great price</h5>
                <p class="card-text card-text-custom">Special discounts to ensure you get more benefits at reduced price
                </p>
            </div>
        </div>

        <div class="card card-custom" style="width: 18rem;">
            <img src="/static/images/wine-glasses.png" class="card-img-top card-img-custom" alt="Destination">
            <div class="card-body">
                <h5 class="card-title card-title-custom">Relax and have fun</h5>
                <p class="card-text card-text-custom">Our features and benefits are curated to suit the needs of every
                    tourist.</p>
            </div>
        </div>
    </div>

    <div class="container py-4 about-us">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-us-img">
                    <img src="/static/images/Rajasthan400.png" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-us-info">
                    <h3 class="about-us-info-heading">We are Aditya Group.</h4>
                        <h2 class="about-us-info-sub-heading">Choose Your Perfect Holiday With Us</h2>
                        <div class="about-us-info-sub-heading-underline"></div>
                        <p class="about-us-info-text">Aditya Group is a destination management company located in Pune,
                            Maharashtra. The company is being backed by a team of diligent professionals who carry a
                            huge liking for travelling and have comprehensive experience working in tourism sector.
                            &nbsp; <br> <br>
                            We organize inbound tours and also offer tours by theme. Our main areas of operations are
                            Leh Ladakh (J&K), Himachal Pradesh, Agra (U.P.), Rajasthan, Amritsar (Chandigarh), Delhi
                            etc. We provide many travel services such as airline ticketing, hotel booking, car & coach
                            rentals etc.</p>
                        <a href="about.html" class="btn btn-lg btn-custom">About us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="seperator">
        <p class="seperator-sub-heading">Take a Break</p>
        <div>
            <div class="blank about-us-info-sub-heading-underline"></div>
            <p class="ampersand-symbol">&</p>
            <div class="blank about-us-info-sub-heading-underline"></div>
        </div>
        <h3 class="seperator-heading about-us-info-sub-heading">Lets Go now . . . Explore and Travel</h3>
    </div>

    <div class="card-grid card-container-flip-main">
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip uttarakhand">
                    <h3>Uttarakhand</h3>
                </div>
                <div class="card-back-flip uttarakhand">
                    <p>
                        Haridwar | Rishikesh | Dehradun | Mussoorie | Auli |Nainital | Ranikhet | Kausani | Almora | Jim
                        Corbett | Char Dham Yatra | Do Dham Yatra | Yamnotri | Gangotri | Kedarnath | Badrinath</p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip LEH">
                    <h3>LEH</h3>
                </div>
                <div class="card-back-flip LEH">
                    <p>
                        Leh | Pangong | Nubra | Tsomoriri | Kargil
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip himachal">
                    <h3>Himachal</h3>
                </div>
                <div class="card-back-flip himachal">
                    <p>
                        Shimla | Manali | Dharamsala | Dalhousie | Amritsar | Chandigarh | Kinnaur | Spiti Valley
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip rajasthan">
                    <h3>Rajasthan</h3>
                </div>
                <div class="card-back-flip rajasthan">
                    <p>
                        Jaipur | Ranthambore | Ajmer | Pushkar |Jodhpur | Jaisalmer | Udaipur | Mt. Abu | Bikaner
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip kashmir">
                    <h3>Kashmir</h3>
                </div>
                <div class="card-back-flip kashmir">
                    <p>
                        Jammu | Katra | Patnitop | Pahalgam | Srinagar | Gulmarg | Sonmarg
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip kerala">
                    <h3>Kerala</h3>
                </div>
                <div class="card-back-flip kerala">
                    <p>
                        Cochin | Munnar | Cheyyappara |Thekkady | Alleppey
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip goa">
                    <h3>Goa</h3>
                </div>
                <div class="card-back-flip goa">
                    <p>
                        North Goa | South Goa
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip NE">
                    <h3>Northeast India</h3>
                </div>
                <div class="card-back-flip NE">
                    <p>
                        Meghalaya | Shillong | Guwahati | Cheerapunji | Sikkim | Gangtok | Darjeeling
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
        <div class="card-container-flip">
            <div class="card-flip">
                <div class="card-front-flip delhi">
                    <h3>Golden Triangle</h3>
                </div>
                <div class="card-back-flip delhi">
                    <p>
                        Delhi-Agra-Jaipur
                    </p>
                    <a href="about.html" class="btn btn-lg btn-custom-explore">Explore</a>
                </div>

            </div>
        </div>
    </div>


    <footer class="bg-dark text-white text-center footer">
        <p>&copy; 2024 Aditya Group. All Rights Reserved.</p>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>